.appMenu {
  &Wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: var(--ant-line-width) solid var(--ant-color-split);

    @media (max-width: 1500px) {
      border-right: 0;
    }


    .menu {
      padding: 5px;
      border-inline-end: unset !important;
      max-height: 100%;
      overflow: auto;
    }
  }

  &Append {
    margin-top: auto;
    overflow: hidden;
    border-radius: 10px;
  }
}
