.codeViewer {
  border-radius: 10px;
  overflow: hidden;
  border: var(--ant-line-width) solid var(--ant-color-split);
  width: 100%;

  pre {
    margin: 0 !important;
  }

  &Settings {
    display: flex;
    flex-direction: row;
    padding: 4px;
    justify-content: space-between;
    gap: 4px;
  }
}
