.type {
  &Content {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: var(--ant-color-text);

    &Tag {
      margin-inline-end: unset;
    }
  }

  &Generic {
    padding: 2px;

    .typeContentTag {
      line-height: 14px;
    }
  }

  &Table {
    margin: 5px;

    & > * {
    }
  }
}
:global(:where(.css-dev-only-do-not-override-unboq8).ant-table-wrapper .ant-table.ant-table-middle .ant-table-tbody .ant-table-wrapper:only-child .ant-table ) {
  margin-inline: unset;
}
