.contentWrapper {
  display: flex;
  justify-content: center;

  &Content {
    padding: 10px 20px;
    width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: 1700px) {
      width: calc(100% - 40px);
      padding-bottom: 50px;
    }
  }
}
